.back.card-1 {
  background-image: url(../images/custom/a1.jpg);
}
.back.card-2 {
  background-image: url(../images/custom/a2.jpg);
}
.back.card-3 {
  background-image: url(../images/custom/a3.jpg);
}
.back.card-4 {
  background-image: url(../images/custom/a4.jpg);
}
.back.card-5 {
  background-image: url(../images/custom/a5.jpg);
}
.back.card-6 {
  background-image: url(../images/custom/a6.jpg);
}
.back.card-7 {
  background-image: url(../images/custom/a7.jpg);
}
.back.card-8 {
  background-image: url(../images/custom/a8.jpg);
}
.back.card-9 {
  background-image: url(../images/custom/a9.jpg);
}
.back.card-10 {
  background-image: url(../images/custom/a10.jpg);
}
.back.card-11 {
  background-image: url(../images/custom/a11.jpg);
}
.back.card-12 {
  background-image: url(../images/custom/a12.jpg);
}
.back.card-13 {
  background-image: url(../images/custom/a13.jpg);
}
.back.card-14 {
  background-image: url(../images/custom/a14.jpg);
}
.back.card-15 {
  background-image: url(../images/custom/a15.jpg);
}