.back.card-1 {
  background-image: url(../images/custom/1.jpg);
}
.back.card-2 {
  background-image: url(../images/custom/2.jpg);
}
.back.card-3 {
  background-image: url(../images/custom/3.jpg);
}
.back.card-4 {
  background-image: url(../images/custom/4.jpg);
}
.back.card-5 {
  background-image: url(../images/custom/5.jpg);
}
.back.card-6 {
  background-image: url(../images/custom/6.jpg);
}
.back.card-7 {
  background-image: url(../images/custom/7.jpg);
}
.back.card-8 {
  background-image: url(../images/custom/8.jpg);
}
.back.card-9 {
  background-image: url(../images/custom/9.jpg);
}
.back.card-10 {
  background-image: url(../images/custom/10.jpg);
}
.back.card-11 {
  background-image: url(../images/custom/11.jpg);
}
.back.card-12 {
  background-image: url(../images/custom/12.jpg);
}
.back.card-13 {
  background-image: url(../images/custom/13.jpg);
}
.back.card-14 {
  background-image: url(../images/custom/14.jpg);
}
.back.card-15 {
  background-image: url(../images/custom/15.jpg);
}